body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #333333;
}

li {
  list-style: none;
  /* remove o estilo das litas*/
}

a {
  text-decoration: none;
  /* remove o estilo dos links */
}

img {
  display: block;
  max-width: 100%; /* com esta prorpiedade as imagens irão diminuir conforme a janela fica menor, caso a janela almente as imagens almentarão até seu tamanho original.*/
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*spinfo*/

.spinfo-bg {
  background: #043b04;
  color: white;
}

.spinfo {
  max-width: 960px; /* o conteudo dentro de spifo não utrapassará 960px*/
  margin: 0 auto; /* ALINHA AO CENTRO */
  /*display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex; /* TORNA OS ELEMENTOS FLEXIVEIS, COLOCANDO TODOS NA MESMA LINHA*/
  /*-webkit-box-pack: justify;
  -ms-flex-pack: justify;*/
  justify-content: space-between; /* JUSTIFICA OS ELEMENTOS COLOCANDO ESPAÇOS PROPORCIONAIS ENTRE ELES. INICIO/MEIO/FIM  */
  /*-ms-flex-wrap: wrap;*/
  flex-wrap: wrap; /* QUANDO A TELA FICA MENOR OS ELEMENTOS NÃO APENAS SE JUNTAM, MAS QUEBRAM PARA A PROXIMA LINHA*/
  padding-top: 10px; /* coloca 10px no preenchimento entre o objeto interno e a borda, isso somente na parte spior "topo  */
}

.spinfo p,
.spinfo a {
  margin: 0 10px 10px 10px;
}

.spinfo a {
  color: white;
}

/* Menu*/
.menu-bg {
  background: #246e49;
}
.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  /* display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /*  -ms-flex-wrap: wrap;*/
  flex-wrap: wrap;
  /*  -webkit-box-pack: justify;
  -ms-flex-pack: justify; */
  justify-content: space-between;
  /*-webkit-box-align: center;
  -ms-flex-align: center;*/
  align-items: center;
}

.menu a {
  color: white;
}

.menu-logo a {
  font-size: 2.25em; /*tamanho da fonte*/
  font-weight: bold; /*largura da fonte*/
  margin: 0 10px; /* 10px de espaçamento entre um item e outro*/
}

.menu-nav ul {
  /*display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /*-ms-flex-wrap: wrap;*/
  flex-wrap: wrap;
}
.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #043b04;
}

/*introdução*/

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/*sobre*/

.sobre {
  border-top: 2px solid #2cff96;
  border-bottom: 2px solid #2cff96;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  /*  display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
}
.sobre-info {
  /*  -webkit-box-flex: 2;
  -ms-flex: 2;*/
  flex: 2 1 300px; /* flex: _ _ _ ->  grow | shrink | basis*/
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.sobre-img {
  /*  display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /* -ms-flex-wrap: wrap;*/
  flex-wrap: wrap;
  /*  -webkit-box-flex: 300px;
  -ms-flex: 300px 2 100px;*/
  flex: 300px 2 100px;
  margin: 0 10px;
}

.sobre img {
  margin: 10px;
}

/*Produto*/

.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.podutos-container {
  /*  display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /*  -ms-flex-wrap: wrap;*/
  flex-wrap: wrap;
  /*  -webkit-box-align: end;
  -ms-flex-align: end;*/
  align-items: flex-end;
}

.podutos-container img {
  width: 300px;
}
.produtos-item {
  /*  -webkit-box-flex: 1;
  -ms-flex: 1 1 175px;*/
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 60px 20px;
}

.silver {
  border-top: 8px solid silver;
}
.gold {
  border-top: 8px solid gold;
}
.diamond {
  border-top: 8px solid #34526f;
}

/*preco*/
.preco {
  background: #f7f7f7;
  padding: 60px;
  /*  display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /* -ms-flex-wrap: wrap;*/
  flex-wrap: wrap;
  /*  -webkit-box-align: end;
  -ms-flex-align: end;*/
  align-items: flex-end;
}

.preco-item {
  /* -webkit-box-flex: 1;
  -ms-flex: 1 1 260px;*/
  flex: 1 1 260px;
  border: 4px solid white;
  padding: 20px;
  margin: 10px;
}

.preco-item h2 {
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.preco-item span {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.preco-item sup {
  font-size: 1.5rem;
}

.preco-item ul {
  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  font-style: italic;
  color: #7c7c7c;
}

.preco-item li {
  /*  display: -webkit-box;
  display: -ms-flexbox;*/
  display: flex;
  /* -webkit-box-pack: justify;
  -ms-flex-pack: justify;*/
  justify-content: space-between;
  /* -webkit-box-align: center;
  -ms-flex-align: center;*/
  align-items: center;
  margin-bottom: 15px;
}
.preco-item li::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #2c704f;
  border-radius: 50%;
}

.preco-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 800px) {
  .preco {
    padding-left: 10px;
    padding-right: 10px;
  }
  .preco .preco-item:nth-child(2) {
    /*  -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;*/
    order: -1;
  }
  .preco .preco-item:nth-child(2) {
    /*  -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;*/
    order: -1;
  }
}

.especificacao {
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}

.especificacao-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.especificacao-item h2 {
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.especificacao-item h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
  background: rgb(50, 102, 50);
}

.especificacao-item:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}
.especificacao-item:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}
.especificacao-item:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}

.especificacao-item p {
  fontsize: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}

.newsletter {
  background: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}
.newsletter-info {
  flex: 1 1 240px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.newsletter-form input {
  flex: 3 1 260px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase;
  background: #043b04;
  color: white;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}
@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5em;
  }
}

.footer {
  display: flex;
  height: 200px;
  background: #043b04;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font: 2.25em;
  color: #122ab2;
}
